[submodule "SanguineModulesCommon"]
	path = SanguineModulesCommon
	url = https://github.com/Bloodbat/SanguineModulesCommon
[submodule "SanguineMutants"]
	path = SanguineMutants
	url = https://github.com/Bloodbat/SanguineMutants
[submodule "SanguineMonsters"]
	path = SanguineMonsters
	url = https://github.com/Bloodbat/SanguineMonsters
